<footer class="footer">
  <div class="wrapper">
    <nav class="footer__nav">
      <ul>
        <li>
          <a href="https://ZarleyLtd.github.io/HelloWorldCursor/leagues.html" class="al" target="_self">Leagues</a>
        </li>
        <li>
          <a href="https://ZarleyLtd.github.io/HelloWorldCursor/fixtures.html" class="al" target="_self">Fixtures</a>
        </li>
        <li>
          <a href="https://ZarleyLtd.github.io/HelloWorldCursor/results.html" class="al" target="_self">Results</a>
        </li>
      </ul>
    </nav>
    <div class="footer__copyright">
      <p>
        <span style="color: #169179;">by JP</span>
      </p>
    </div>
    <button id="backToTop" class="footer__bttop" aria-label="Back to top" title="Back to top">
      <svg width="20" height="20">
        <use xlink:href="https://ZarleyLtd.github.io/HelloWorldCursor/assets/svg/svg-map.svg#toparrow"></use>
      </svg>
    </button>
  </div>
</footer>
<script defer src="assets/js/custom.js"></script>
