<nav class="navbar js-navbar">
  <button class="navbar__toggle js-toggle" aria-label="Menu" aria-haspopup="true" aria-expanded="false">
    <span class="navbar__toggle-box">
      <span class="navbar__toggle-inner">Menu</span>
    </span>
  </button>
  <ul class="navbar__menu">
    <li class="active">
      <a href="https://ZarleyLtd.github.io/HelloWorldCursor/" target="_self">Home</a>
    </li>
    <li>
      <a href="https://ZarleyLtd.github.io/HelloWorldCursor/leagues.html" target="_self">Leagues</a>
    </li>
    <li>
      <a href="https://ZarleyLtd.github.io/HelloWorldCursor/fixtures.html" target="_self">Fixtures</a>
    </li>
    <li>
      <a href="https://ZarleyLtd.github.io/HelloWorldCursor/results.html" target="_self">Results</a>
    </li>
    <li>
      <a href="https://ZarleyLtd.github.io/HelloWorldCursor/top-breaks.html" target="_self">Top Breaks</a>
    </li>
    <li>
      <a href="https://ZarleyLtd.github.io/HelloWorldCursor/handicaps.html" target="_self">Handicaps</a>
    </li>
    <li>
      <a href="https://ZarleyLtd.github.io/HelloWorldCursor/rules.html" target="_self">Rules</a>
    </li>
    <li>
        <a href="https://ZarleyLtd.github.io/HelloWorldCursor/under-development.html" target="_self">Under Development</a>
    </li>
  </ul>
</nav>

